body{
padding:3rem 1rem 1rem;
}

/* TodoList adder*/

.todoList{
margin:0 0 4rem 0;
}

input:focus {
   outline:none;
   border:none;

}
input{
border:none;
}

li{
list-style-type:none;
}
.col{
margin:0 0 3rem 0;}


