{% include "header.html" %}

<form method="post" action="{{url_for('edit_list',list_id=id)}}">


    <div class="col">
        <div class="card" style="width: 18rem;">
            <div class="card-body">
                <h5 class="card-title"><input name="title" value="{{todolist_data.title}}"/>
                </h5>
                <h6 class="card-subtitle mb-2 text-muted">
                    <input name="subtitle" value="{{todolist_data.subtitle}}"/>
                </h6>

                <ul id="listItems" class="list-group list-group-flush">
                    {% set list1 = todolist_data.list_items.split('@sdsplitk') %}
                    {% for item in list1 %}
                    {% if (item|length) > 0 %}

                    <li class="list-group-item"><input name="listItem" value="{{item}}"/></li>
                    {% endif %}
                    {% endfor %}
                </ul>
                <div class="btn-group" role="group" aria-label="Basic outlined example">
                    <a href="{{url_for('delete_list',list_id=todolist_data.id)}}" class="btn btn-outline-info">Delete
                        it</a>
                    <a class="addMore btn btn-outline-info">+ Add</a>
                    <button type="submit" class="btn btn-outline-info ">Save</button>


                </div>
            </div>
        </div>
    </div>

</form>
{% include "footer.html" %}