{% include "header.html" %}

{% with messages = get_flashed_messages() %}
{% if messages %}

{% for message in messages %}
{{ message }}
{% endfor %}
{% endif %}
{% endwith %}

<div class="todoList container-fluid">
    <form method="post" action="{{url_for('home_page')}}">
        {{ form.csrf_token }}
        <div class="container-fluid text-center">
            <div class="row">
                <div class="col">
                    <div class="card" style="width: 18rem;">
                        <div class="card-body">
                            {{form.title(placeholder="Title")}}
                            {{form.subtitle(placeholder="Subtitle")}}

                            <ul id="listItems" class="list-group list-group-flush">
                                <li>{{form.list_items(placeholder="Items")}}</li>
                            </ul>
                            <div class="btn-group" role="group" aria-label="Basic outlined example">
                                <a class="addMore btn btn-outline-info">+ Add</a>
                            </div>
                            <button class="btn btn-outline-info" type="submit">Submit</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </form>
</div>


<div class="container-fluid text-center">
    <div class="row">
        {% for n in todolist_data %}
        <div class="col">
            <div class="card" style="width: 18rem;">
                <div class="card-body">
                    <h5 class="card-title">{{n.title}}</h5>
                    <h6 class="card-subtitle mb-2 text-muted">{{n.subtitle}}</h6>
                    <ul class="list-group list-group-flush">
                        {% set list1 = n.list_items.split('@sdsplitk') %}
                        {% for item in list1 %}


                        <li class="list-group-item">{{item}}</li>
                        {% endfor %}
                    </ul>
                    <div class="btn-group" role="group" aria-label="Basic outlined example">
                        <a href="{{url_for('delete_list',list_id=n.id)}}" class="btn btn-outline-info">Delete it</a>
                        <a href="{{url_for('edit_list',list_id=n.id)}}" class="btn btn-outline-info ">View</a>
                        <a href="{{url_for('edit_list',list_id=n.id)}}" class="btn btn-outline-info ">Edit This</a>
                    </div>
                </div>
            </div>
        </div>

        {% endfor %}
    </div>
</div>
{% include "footer.html" %}